<!DOCTYPE html>
<html>
<head>
  <title>ND Jotto Puzzle</title>
  <%- include partials/header.ejs %>
  <script type="text/javascript" src="/javascripts/external/timer.js"></script>
  <script type="text/javascript" src="/javascripts/external/typed.js"></script>
  <script type="text/javascript" src='/javascripts/guess_controller.js'></script>
</head>
<body ng-app='ndJottoApp' ng-controller='guessCtrl'>
  Input the password: 
  <br>
  <input id='passwordInput' type='password'>
  <br>
</body>
</html>